html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url("../car-bg.jpg");
  height: 92%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-content {
  padding: 27% 30px 60px 50vw;
    color: white;
}

.hero-content>h1 {
  margin-bottom: 24px;
}

.navbar {
  z-index: 9999;
  padding-left: 2%;
}

#review1{
  color: white;
}

#review2{
  color: white;
}

#mapdiv{
  height:65%;
}

/*We dun show ad support*/
#map > div.leaflet-control-container > div.leaflet-bottom.leaflet-right{
  display:none;
}
#navigation > form > button{
  margin-left: 10%;
  margin-top: 1%;
    width: 100px;
    height: 20px;
}

#map{
  height: 90vh;
  width: 100vw;
  z-index: 0;
}

.spaces {
  margin-top: 10px;
}

.input-bar-container {
  position: fixed;
  bottom: 0;
  height: 26%;
  padding: 20px;
  width: 78%;
  margin: auto;
  z-index: 100;
  background-color: white;
  border-radius: 10px 10px 0px 0px;
}

.input-bar-container.multi{
  height: 38%;
}

path.leaflet-interactive.animate {
  stroke-dasharray: 1920;
  stroke-dashoffset: 1920;
  animation: dash 8s linear 1.5s forwards;
}

@keyframes dash {
  to {
      stroke-dashoffset: 0;
  }
}