{% extends "base.html" %} <!-- copy and use the exact same template in base.html -->
{% block title %}Driver Details{% endblock %}

{% block content %}

    {% for driver in drivers %}
    <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
{#                <div class="col-md-4">#}
{#                    <img src="..." class="img-fluid rounded-start" alt="...">#}
{#                </div>#}
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Driver Name:{{ driver.driverName }}</h5>
                        <p class="card-text">Driver Id: {{ driver.driverId }}</p>
                        <p class="card-text">Car Plate: {{ driver.carPlate }}</p>
                        <p class="card-text">Car Brand: {{ driver.carBrand }}</p>
                        <p class="card-text">Stationed Location: {{ driver.driverLocation }}</p>
                        <p class="card-text">Driver Rating: {{ driver.driverRatings }}</p>
                        <button type="button" class="btn btn-primary">Book a ride</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{#    <table>#}
{#        <thead>#}
{#        <td>Driver ID</td>#}
{#        <td>Driver Name</td>#}
{#        <td>Car Plate</td>#}
{#        <td>Car Type</td>#}
{#        <td>Location (Stationed)</td>#}
{#        <td>Driver Ratings</td>#}
{#        </thead>#}
{##}
{#        {% for driver in drivers %}#}
{#            <tr>#}
{#                <td>{{ driver.driverId }}</td>#}
{#                <td>{{ driver.driverName }}</td>#}
{#                <td>{{ driver.carPlate }}</td>#}
{#                <td>{{ driver.carBrand }}</td>#}
{#                <td>{{ driver.driverLocation }}</td>#}
{#                <td>{{ driver.driverRatings }}</td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#    </table>#}
{% endblock %}