{% extends "base.html" %} <!-- copy and use the exact same template in base.html -->
{% block title %}Home{% endblock %}

{% block meat %}
    <div class="hero-image">
        <div class="hero-content">

            <h1 class="display-5 fw-bolder">Book your ride today.</h1>

            <p>Select your type of ride:</p>

            <a class="btn btn-primary" href="/map_page" role="button">Single ride</a>
            <a class="btn btn-light" href="/map_page_multi" role="button">Ride Sharing</a>
        </div>
    </div>
{% endblock %}
